@model VidLibrary.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
This is a comment example on multiple lines.    
    Here too
*@


@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No customer has rented this movie yet.</p>
}
else
{
    <ul>
        @foreach(var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}